[2017-09-25 22:30] jgbarah opened #4 "How to run reports?"
In the `README.md` I read, as an example of the command for running `reports` (slightly edited):

[code]

I guess I can figure out all the options except for `-d project_data`. Do you happen to have an example of that `project_data` file, or maybe a description of the format?

[2017-09-26 03:22] acs commented on #4
According to the help:

[code]

this param  "--data-dir" points to the directory in which to store all data (csv and eps files mainly with metrics) that will be used to create the report PDF file.

[2017-09-28 08:06] alpgarcia commented on #4
I've proposed an update adding usage information to README file.

If you feel we need something else, like data file examples, let me know to modify my PR.

[2017-09-28 08:36] alpgarcia opened #6 "Documentation on available sources and metrics"
Currently there is no explicit information on what sources and metrics are supported.

It can be done by directly updating README.md file. Probably it might be better to have this documented in source code and generate documentation from there.

I have no experience with this kind of documentation in Python, so I would like to have your opinion @acs and @jgbarah beforehand.

[2017-09-28 08:43] acs commented on #4
PR merged. Closing this issue.

[2017-09-28 08:43] #4 closed

[2017-09-28 16:44] jgbarah commented on #4
OK, fair enough, thanks.

[2017-11-30 06:14] acs commented on #6
I would try generating the doc from source code, as you proposes. And if that is not possible, then move to the README.md approach.

[2018-02-12 15:43] GeorgLink opened #15 "Define 'Path to Maintainership' and 'List Maintainers'"
Per proposal in chaoss/governance#5 :

TODO:
- Specify 'path to maintainership' for this repo in CONTRIBUTING.md file
- List current maintainers in README.md file

[2018-02-17 20:34] innovationchef opened #16 "406 Client Error: Not Acceptable for url: http://127.0.0.1:9200/git_enrich/_search"
I am trying to run the sample report generation example given in the documentation. I followed the following sequence of commands -
`$ p2o.py --enrich --index git_raw --index-enrich git -e http://127.0.0.1:9200 --no_inc --debug git https://github.com/grimoirelab/perceval.git`
`$ p2o.py --enrich --index git_raw --index-enrich git -e http://127.0.0.1:9200 --no_inc --debug git https://github.com/grim

[2018-02-18 20:02] jgbarah commented on #16
Hi, @innovationchef. Thanks for the report. In this case, what happens is that Manuscripts expected the git enriched index to be `git_enriched`, but when running `p2o.py` you are creating it as `git` (have a look at the `--index-enrich` option in `p2o.py`).

I'm trying to make this more clear in the tutorial, and maybe file an issue in Manuscripts, since AFAIK, the default enriched index for git i

[2018-02-18 20:05] jgbarah opened #17 "Make git the name of the enriched index for git"
AFAIK, by default Mordred is creating the alias for the git enriched index as `git`. However, it seems Manuscripts is looking for `git_enrich` (see #16). Could somebody more knowledgeable on Manuscripts confirm this, so that we keep this issue open, or deny, and we just close it?

[2018-02-19 06:20] innovationchef commented on #16
Hi @jgbarah ,
Your solution worked partially. Now my link http://127.0.0.1:9200/git_enrich/_search is working fine. But, the manuscripts throws the same error.

Additionally, I have got 1 more issue. For some reasons, I reinstalled the whole system yesterday. The p2o.py command and the kidash command to generate dashboards are working fine. But at http://127.0.0.1:5601 , **everytime** I click on t

[2018-02-20 23:29] innovationchef commented on #16
Hi @jgbarah ,
I dug deeper into the issue and reached to grimoirelab-manuscripts/manuscrpits/metrics/metrics.py line 140
`r = requests.post(url,query)`
where `url = http://localhost:9200/git_enrich/_search`
and `query = some_json` (attached in screenshot)

`r.raise_for_status()` is raising status error because the cardinality aggregation problem. The 'field' value should not be set "None".

I ran

[2018-02-20 23:42] innovationchef commented on #16
Hi @jgbarah ,
I dug deeper into the issue and reached to grimoirelab-manuscripts/manuscrpits/metrics/metrics.py line 140
`r = requests.post(url,query)`
where `url = http://localhost:9200/git_enrich/_search`
and `query = some_json` (attached in screenshot)

`r.raise_for_status()` is raising status error because the cardinality aggregation problem. The 'field' value should not be set "None". But in

[2018-02-25 09:28] aswanipranjal commented on #17
Hey @jgbarah, that might be because in [report.py](https://github.com/chaoss/grimoirelab-manuscripts/blob/master/manuscripts/report.py), the `GIT_INDEX` variable has been set as `git_enrich`.

[2018-02-25 11:05] aswanipranjal commented on #16
hey @jgbarah, I too was having the same problem. I am using Elasticsearch-6  and I was getting a 406 error because the `Content-Type` header wasn't set in the request that is being made in `get_metrics_data` function in [metrics.py](https://github.com/chaoss/grimoirelab-manuscripts/blob/master/manuscripts/metrics/metrics.py) file on line 137. According to [this](https://www.elastic.co/blog/strict-

[2018-02-25 22:12] jgbarah commented on #16
Ooops. Sorry for not coming back before. I was trying to reproduce the problem, and I couldn't. Until I realized maybe it was a problem with the Elasticsearch version. So, I tried with Elasticsearch 6.1, and it didn't work, Same error as you had. Bingo!

The problem seems to be that some changes in queries for Elaticsearch 6.x are biting us. We were using Manuscripts only with Elasticsearch 5.x, a

[2018-02-25 22:38] jgbarah commented on #16
@aswanipranjal I had missed your comment. I will have a look into it, may it is just that. Thanks!

[If you already tested, that, please start a pull request!]

[2018-02-25 22:46] jgbarah commented on #17
Yes, I think so. Feel free to submit a pull request fixing that!

[2018-02-26 05:39] aswanipranjal commented on #17
@jgbarah, I had a question: should we allow the user to choose the indices that they want to create a report on? Hard coding the enriched index name to `git` won't allow us to store data from multiple repositories as all of them cannot be named `git`. We can instead add name of the index to be analysed, as a parameter to the manuscripts command.

[2018-02-26 07:41] aswanipranjal opened #19 "PROJECT-NAME not getting replaced in the report.pdf file"
In the report.pdf file generated at the end of running the `manuscripts` command with the necessary    parameters and also providing `-n <name of the report>`, report.pdf still shows the name of the project as PROJECT-NAME and is unable to change it.

Problem might be in [report.py](https://github.com/chaoss/grimoirelab-manuscripts/blob/master/manuscripts/report.py#L638)
[code]

[2018-02-27 23:53] f2014169 opened #20 "manuscripts showing error"
## when i executed

manuscripts -d /tmp/reports -u http://localhost:9200 \
   -n GrimoireLab --data-sources git
## Following error was shown

[2018-02-28 05:19:22,352] Debug mode activated
[2018-02-28 05:19:22,353] Generating the report from 2015-01-01 00:00:00+00:00 to 2018-02-27 23:59:59.999999+00:00
[2018-02-28 05:19:22,353] Generating the report data and figs from 2015-01-01 00:00:00+00:00 to

[2018-02-28 05:57] aswanipranjal commented on #20
@f2014169 checkout #16

[2018-02-28 08:02] jgbarah commented on #20
Thanks @aswanipranjal. Yes, the problem is that Manuscripts currently does  not work with Elasticsearch 6.x. @f2014169 please try with Elasticsearch 5.x.

I hope the patch by @aswanipranjal will be accepted soon, which will mean that master HEAD for Manuscripts will also work with Elasticsearch 6.x. And hopefully, that will be incorporated in the next release of the pip packages.

[2018-02-28 08:11] jgbarah commented on #20
Duplicate of #16

Thankis @aswanipranjal for pointing out.

[2018-02-28 10:47] jgbarah commented on #17
I think we should, by default, use the same indexes (index aliases, in fact) that the dashboard uses. That's git for git (instead of git_enrich). Same for other datasources.

In addition to that, yes, it would be nice letting the user to override this name. Currently that can be done via the mordred.cfg file, but it would be much better having also command line options. I'm opening a separate issu

[2018-02-28 10:51] jgbarah opened #21 "Let users decide the name of an index for each data source"
Now, the name of the index for each supported data source is wired in the code. It would be better if that wiring acted just as a default name, that the user can override via command line options. Pull requests with that aim are welcome.

[2018-02-28 11:17] jgbarah commented on #19
I cannot reproduce this. If I run manuscripts as:

[code]

I see in the front page "Myproject" as the name of the project... Where are you seeing "PROJECT-NAME"? Or maybe that's due to the version of grep you're using... Which one it is? Mine is:

[code]

[2018-02-28 11:23] jgbarah opened #22 "Let users specify a logo for the reports"
Now, for historical reasons, the logo shown in the reports generated by manuscripts is the Bitergia logo. By default, it should be the GrimoireLab logo. And we should let users define they want any other logo via an optional parameter in the command line. This could be one or two pull requests (one for changing the default, another one for the new option), and the task seems easy. If anyone gets i

[2018-02-28 11:32] aswanipranjal commented on #21
@jgbarah I'll get started on this.

[2018-03-01 13:51] acs opened #24 "The data and figs for the report creation are copied recursively"
In each generation of a report the data and figs folders used to create the PDF report file are copied recursively. For example:

[code]

[2018-03-01 19:26] #16 closed

[2018-03-02 09:07] aswanipranjal commented on #20
@f2014169 can you check if the issue was resolved at your end? Try pulling the latest changes from the master branch.

[2018-03-02 10:53] aswanipranjal commented on #20
@f2014169: the latest version of elasticsearch is 6.2.2. In elasticsearch 6 and above, the Content-Type header has to be mentioned for the request to be valid.

[2018-03-02 11:02] f2014169 commented on #20
@aswanipranjal  yes it works

[2018-03-02 11:02] #20 closed

[2018-03-02 11:44] aswanipranjal commented on #20
@f2014169 great, thanks!

[2018-03-02 13:47] jgbarah commented on #20
@aswanipranjal @f2014169 thanks a lot!!

[2018-03-04 11:06] jaishreedhage commented on #21
@jgbarah @aswanipranjal  Hi, is this issue currently being worked on? I wanted to work on this. Please let me know. Thanks.

[2018-03-04 12:16] aswanipranjal commented on #21
Hey @jaishreedhage, yes I am currently working on this issue.

[2018-03-04 12:56] f2014169 commented on #24
@jgbarah  shall i take this? I figured out the bug

[2018-03-05 05:49] jgbarah commented on #24
@f2014169 go ahead if you feel like that...

[2018-03-12 14:28] f2014169 commented on #24
@acs @jgbarah  please visit https://github.com/chaoss/grimoirelab-manuscripts/pull/30

[2018-03-12 22:38] acs commented on #24
Hmm, it is not clear for me what to do in #30. Please. to work in this bug open a specific PR that address it. Thanks you @f2014169

[2018-03-12 23:39] jgbarah commented on #24
@acs: #30 is about a different stuff, explained in that pr. Please, add your review there if you don't mind.

[2018-03-13 03:53] acs commented on #24
Yes, I know it, but I need to find what change about all of them is related to this issue. And after the review, the code can not be merged from there if we want a clean merge.

If it is not possible to get the commit related to this issue #24 and create a PR specific for it, I would try to do the review in #30. Could you specify which is the specific commit in #30?  I suppose it is: https://githu

[2018-03-13 12:07] jgbarah commented on #24
I see now. It seems #30 includes code for both the logo stuff, and the recursive copy stuff. I've found the code for the latter in it, and reviewed it asking to be moved to a new pull request. Thanks, @acs.

[2018-03-14 08:29] #17 closed

[2018-03-14 08:29] #21 closed

[2018-03-14 08:35] jgbarah opened #31 "Error if no project name is specified"
When launching manuscripts with no project name (eg, no `-n` option), there is an error. For example:

[code]

It would be much better if a default name is used, so that it doesn't fail if no `-n` argument is used. Given how the project name is now used in the report, I think a good default name would be "Unnamed". In the messages written by Manuscripts it should be obvious that the `- n` argument

[2018-03-14 14:20] f2014169 commented on #24
@acs  @jgbarah  i've removed code for #24 from #30 ,ill create seperate pull request

[2018-03-14 21:30] apoorvkhare07 commented on #31
@jgbarah I would like to work on it.
Will open a PR soon.

[2018-03-14 23:18] jgbarah commented on #31
Great! Please, go ahead.

[2018-03-16 19:47] varunotelli commented on #31
If this issue still hasn't been fixed, I'd like to have a go at this issue

[2018-03-16 19:48] apoorvkhare07 commented on #31
@varunotelli I am working on it, will be opening a PR soon.

[2018-03-18 17:36] Prabhat-IIT opened #34 "URL and Latex error"
When I tried the command `manuscripts -d /tmp/reports -u http://localhost:9200    -n GrimoireLab --data-sources git`
I encountered an error:

  File "/home/prabhat/venvs/grimoirelab/bin/manuscripts", line 130, in <module>
    report.create()
  File "/home/prabhat/venvs/grimoirelab/lib/python3.6/site-packages/manuscripts/report.py", line 711, in create
    self.create_data_figs()
  File "/home/prab

[2018-03-19 14:50] Prabhat-IIT commented on #24
@acs  @jgbarah  please review my opened pr once you get some time :)

[2018-03-19 16:15] f2014169 commented on #34
@aswanipranjal  i think you can confirm this, as you were working on something related to this

[2018-03-19 17:56] Prabhat-IIT commented on #34
Yup!! the first issue has been solved by the latest commit by @aswanipranjal . I see it after updating my local repo but still I think its not been included in the official realease. @f2014169  If you've any idea about the Latex issue please let me know :)

[2018-03-19 19:57] aswanipranjal commented on #34
@Prabhat-IIT, i think you should update your local repo from chaoss/grimoirelab-manuscripts master branch and run Manuscripts from inside the updated repo. Regarding the error with Latex, I do not think Manuscripts asks for a name of the report. It just throws an error if it is not provided as an argument.

[2018-03-20 03:21] Prabhat-IIT commented on #34
As stated above by me I've updated my local repo and the first bug has been removed. I would like to know more about the second bug regarding `pdfLatex`

[2018-03-20 07:19] f2014169 commented on #34
@Prabhat-IIT  please install this also
sudo apt-get install texlive-latex-extra
for complete support of pdflatex

[2018-03-20 12:57] Prabhat-IIT commented on #34
@f2014169 didn't helped :(

[2018-03-20 18:23] f2014169 commented on #34
@Prabhat-IIT  download http://mirror.hmc.edu/ctan/macros/latex/contrib/csvsimple/csvsimple.sty
and when that asks for this file ,provide the location of this file, this works

[2018-03-20 22:34] #31 closed

[2018-03-21 11:46] Prabhat-IIT commented on #34
Actually, this helped in generating the pdf partially i.e. some part of it can be made but ultimately it ends up in error. Thanks for helping btw :)

[2018-03-23 00:02] dicortazar opened #37 "Add the analysis of time waiting for the submitter and time waiting for the reviewer"
The Gerrit code review workflow is a process between one or more reviewers, one or more submitters, and the CI systems that provide automated responses and votes for the piece of code.

Having the total time waiting for a submitter and the total time waiting for a reviewer is useful when trying to understand where to help the community. There are cases where the community may need more reviewers w

[2018-03-24 09:21] apoorvkhare07 commented on #37
Hey, can I work on this issue?
I'll be soon be opening a PR on this issue.

[2018-03-30 13:51] Prabhat-IIT commented on #37
@dicortazar I would like to work on it. Can you elaborate how the above said metric is calculated? Or we simply want the time of waiting for both reviewer and submitter?

[2018-03-30 20:22] #34 closed

[2018-04-01 22:26] #22 closed

[2018-04-02 16:48] aswanipranjal commented on #19
Hey @jgbarah, sorry for updating the progress of this issue so late.

I see "PROJECT-NAME" instead of "Myproject" on the first page of the report.

The output of `grep --version` is:
[code]
I am using macOS High Sierra, maybe thats the problem. I'll try it on a linux machine and update on this issue.

[2018-04-02 23:16] jgbarah commented on #19
Yes please, try to reproduce in Linux, I can't :-(.

In any case, the above code seems to be too much dependent on the actual tools (grep, xargs, sed) used. I think it would be better to change that line to use a pure Python mechanism, which hopefully would be much more portable. I'm labeling this as "Good First", since that seems not too complicated for anyone a bit fluent in Python.

[2018-04-03 09:25] #24 closed

[2018-04-03 11:06] aswanipranjal commented on #19
Yes @jgbarah I think that would be for the best. I'll start on this right away!

[2018-04-03 12:32] aswanipranjal commented on #19
@jgbarah I tested it on Ubuntu16.04 and it works, no problem there.
I'll work on removing the dependency on grep, xargs and sed and use a python based mechanism.

[2018-04-03 15:27] jgbarah commented on #19
Thanks, @aswanipranjal !! Labeling this as bug, since it is a bug in Mac (at least for some setups).

[2018-04-03 16:21] aswanipranjal commented on #19
@jgbarah, It won't be necessary now, but I figured out the bug for OSX. In the command:
[code]
We will have to provide the extension of the file in which we have to replace the string, with the `-i` flag as `sed` in OSX takes in a valid file extension with the `-i` option.
Example, if we want to change the `PROJECT-NAME` in all the `.tex` files then the command will be:
[code]

[2018-04-03 18:43] jgbarah commented on #19
I see. Thanks! In any case, I think fixing with pure Python would be better, if possible...

[2018-04-04 08:00] jgbarah opened #40 "Error when sortinghat is not installed"
I just install manuscripts with:

[code]

and then try to run it, but I get an error:

[code]

It seems sortinghat is not in the dependencies in `setup.py`.

[2018-04-04 08:10] jgbarah opened #41 "List available data sources"
Right now, there is no way of knowing which data sources are available for generating a report. It would be great having something like:

[code]

At least on a first try, those could be just the data sources supported by Manuscripts, in general.

[2018-04-04 10:53] f2014169 commented on #41
@jgbarah by data sources u mean ES indexes??

[2018-04-04 11:33] aswanipranjal commented on #41
@f2014169, data sources are from where data about the project is being retrieved and put into the indices. Data sources can be `git` to get the commit data, `GitHub` to get the issue data, `mailing lists`, `gerrit`, `jira`, `stackexchange` and so on.
Data Sources **does not** mean indices.

[2018-04-05 03:50] #40 closed

[2018-04-10 12:53] #19 closed

[2018-04-29 12:40] aswanipranjal opened #48 "Change start_date from '2015-01-01' to the date of the first commit"
Currently, the default start date is set to: 2015-01-01. [Link](https://github.com/chaoss/grimoirelab-manuscripts/blob/master/bin/manuscripts#L56)
Instead of using that hard coded value, we can change the start date of analysis to the date the first commit was made.

[2018-04-29 13:25] aswanipranjal opened #49 "Change the error which is thrown when no arguments are provided to 'manuscripts' command"
Currently, when we type the command `manuscripts` on the command line, without providing any arguments, it throws
[code]
Which actually does not provide any information about what exactly is missing.
Either we can specify that `es_url`, `start`, `end` and `data_sources` are missing such as:
[code]

or we can throw an error such as:
[code]

Also, there does not exists a help command so maybe we can

[2018-05-02 11:17] jgbarah commented on #49
Good point, @aswanipranjal. I think the way to go is the second one you propose. If you want to work on this, have a look at how the `perceval` command, in chaoss/grimoirelab-perceval, handles this case. If I remember well, we could do here pretty much the same. If you want, propose a pr following that direction (please, mention this issue in it).

[2018-05-03 17:42] aswanipranjal opened #50 "How to add the Metrics into Manuscripts"
As per the discussion with Jesus, this ticket is about how to add code for Metrics into Manuscripts.

- We can start with writing dirty code in Jupyter-notebooks and structuring the code there and then once it gets finalised, we can add clean code into the Master branch so that the commit history has only clean code and definite updates on the project.

- When we want to add a functionality into M

[2018-05-03 21:14] jgbarah commented on #50
In parallel to work with the notebooks, I think we should start studying which changes Manuscripts would need, and the schema we would use in it. For now, I think we could design a report which, if the `--chaoss` (for example) option is specified, a specific section "CHAOSS Metrics" is produced, with all the GMD metrics that can be computed for the specified data sources.

If you agree with this s

[2018-05-05 10:05] aswanipranjal commented on #50
@jgbarah, I am a little confused. Why do we need to have a `--chaoss` argument? Aren't GMD metrics already a part of CHAOSS?

I was thinking of dividing the report into 4 parts, each one corresponding to Diversity-Inclusion, GMD, Risk and Value.

Can you please expand on the `--chaoss` argument part?
I am sorry if I am missing something very obvious here.

[2018-05-05 17:26] jgbarah commented on #50
Currently, Manuscripts has some functionality (produces a certain kind of report). The idea of the --chaoss option is for including, optionally, in addition to that functionality, the CHAOSS metrics. Which for now will be the GMD metrics.

The main reason is that Manuscripts already has users, so that I would prefer not to break current functionality (the kind of report it produces now). If users

[2018-05-09 17:59] sanacl opened #51 "No documentation available about the expected type of the arguments"
The methods of the `metrics` library should be documented with the type of parameters it expects. This is what we have in the code:
[code]

If we go to the help offered by the module, we just get this:
[code]

[2018-05-09 18:05] jgbarah commented on #51
Good point, @sanacl.

@aswanipranjal what do you think about taking care of this? Maybe it could be a good way of improving your understanding of the internals of Manuscripts...

[2018-05-10 09:15] sanacl opened #52 "get_trend() does not calculate the trend properly for the Authors class"
I'm not sure I understood the get_trend() method. I tried to get the trend in number of authors of the last 12 months but it just get the value of the author on starting date (on that day) and the number of authors on the end date (on that day) and do the math.

[code]

Is the code above right? Did i do something wrong?

How to reproduce:
* get code with version 53604feaeafa74deb5c8f2496fede5cf47e

[2018-05-10 13:52] aswanipranjal commented on #51
Yes @jgbarah I'll get started on this. Although, a lot of the libraries and functions in manuscript need docstrings and implementation details.

I'll start with the files in the metrics folder.

[2018-05-10 14:04] acs commented on #51
@jgbarah @aswanipranjal @sanacl I will try yo help in this process of documenting all. Until now, manuscripts was an evolutionary prototype and we don't care enough the documentation and testing. It is time to fix that, yes!

[2018-05-11 05:14] aswanipranjal commented on #52
Hey, @sanacl, `url` is the address of your elasticsearch instance, right?
Also, can you post the output?

[2018-05-11 10:50] acs commented on #52
@sanacl checking it ... the method returns:

`        return (last, trend_percentage)
`
so you need to get the second value of the tuple returned by `get_trend`, and it is the trend in %.

[2018-05-11 11:05] acs commented on #52
Fixed with @sanacl in a f2f. Closing this ticket.

[2018-05-11 11:05] #52 closed

[2018-05-11 14:58] acs commented on #51
@aswanipranjal I plan to work on docstrings right now. I hope you have not invested time yet. I will send a PR. I have implemented most of the methods, so documenting them should be something direct to do. We can improve it in new iterations.

[2018-05-11 15:12] aswanipranjal commented on #51
@acs I am still in the process of experimenting with the methods for the Notebooks. Go right ahead!!!

[2018-05-11 15:35] acs commented on #51
Just a quick note: to use pydoc inside a venv

`python -m pydoc manuscripts/esquery.py`

pretty useful to check that all look like it should be.

[2018-05-11 16:29] acs commented on #51
Most of the work done in: https://github.com/chaoss/grimoirelab-manuscripts/pull/54

Pending to review: `esquery.py`. `config.py` is just a copy of this file from mordred so the docstrings must be fixed there and then copy this file here another time. Once I have finished I will ask you to PR review!

[2018-05-14 15:28] acs commented on #51
All work done in #54. Just pending the review from you guys: @jgbarah @aswanipranjal @sanacl .

[2018-05-14 16:33] aswanipranjal opened #56 "Change parent class for github_issues and jira"
Currently some classes in `github_issues` and `jira` inherit from the classes in `its.py` class. We should change the design and make it more consistent.

[2018-05-14 17:18] aswanipranjal commented on #50
@jgbarah, I've made some changes to manuscripts, specifically `metrics.py` and `esquery.py` to be able to realise the mertics. I was thinking that I can create another branch for now in my forked version of manuscripts for testing and development purposes and then you (or anyone who wants to collaborate on manuscripts) can download the [repository](https://github.com/aswanipranjal/gsoc-manuscripts

[2018-05-15 09:55] #49 closed

[2018-05-16 10:36] jgbarah commented on #48
¿Anything new about this?

[2018-05-16 12:08] aswanipranjal commented on #48
I wasn't able to look at it this past week. But I am hoping to work on it in this coming week.

[2018-05-17 09:02] aswanipranjal opened #57 "Cleaning Up esquery.py file"
`esquery.py` file still does-not completely use the elasticsearch_dsl module and has specific hard coded queries in some of the functions. It also uses outdated methods to match terms and search the indices.

This ticket is about:
- cleaning up the file and making each function use the Classes(Search, Agg, etc) from the elasticsearch_dsl module

[2018-05-23 07:30] aswanipranjal opened #59 "Re-designing the functions to calculate Metrics."
Right now, the functions and classes (in metrics.py and esquery.py) that we use to calculate the metrics are complex and repetitive. They get us the results but *specialising them for specific classes is too complex and code reuse is difficult to achieve*.
We are going to simplify them and add more functional and easy to use *chain-able* functions which let us apply filters easily and give the out

[2018-05-25 07:42] jgbarah commented on #56
My guess is that for `github_issues` and for `jira`, some of the functionality is common, and that's why they inherit from `its`. But yes, we can revisit the design... Any proposal?

[2018-05-27 08:35] aswanipranjal opened #60 "Update metrics.py, esquery.py and test_esquery.py to use only elasticsearch_dsl module"
After #57, this issue adds the use of elasticsearch_dsl to other files such as metrics.py.

`esquery.py` in the function `get_aggs`, returns a json dict which is then used in metrics.py to get the results via `requests.get` method.
This issue is about removing completely the direct querying to elasticsearch and using elasticsearch_dsl.py instead.

EDIT: The second PR is ready, Please review #58 so

[2018-05-27 17:51] aswanipranjal commented on #56
@jgbarah, I think we can visit this issue later when we are done with redesigning the classes and functions to calculate the Metrics.

[2018-05-30 05:06] acs commented on #51
All done! Closing this ticket!

[2018-05-30 05:06] #51 closed

[2018-05-30 05:10] acs opened #61 "Support filters per data source"
Right now in manuscripts, when you specify filters in the command line to be applied to the queries to collect the metrics data, they are applied to all data sources. But some filters are only valid for some data sources (for example, filtering the merge commits for git). So we need to support filters by data source.

[2018-05-31 06:43] aswanipranjal opened #62 "Creating chainable functions and New Classes to calculate the Metrics"
This issue proposes creating functions to segregate the metrics according to different fields, such as: `by_author`, `by_organizations` and `by_period` (weeks, months, years) which can be applied directly to metrics objects and the corresponding aggregations can be obtained.

These functions will make it easier for the user to do analysis on the basis of different users or orgs and to see the metr

[2018-05-31 08:08] jgbarah commented on #62
I like the approach. Maybe later we need specialized versions of these functions, such as for example when we have different records to consider in some specific case, or parameters for the functions. But for now, I guess we can try reimplementing with this, and we will already have a big win ;-)

We still need to comment how to integrate this in a giant pr with everything, or in separate ones, bu

[2018-05-31 09:49] #57 closed

[2018-06-06 14:45] aswanipranjal opened #66 "Implementing the current Report using new functions"
I've been working on [redesigning the functions and classes](https://github.com/aswanipranjal/gsoc-manuscripts/blob/master/new_functions.py) so as to calculate the Metrics in a better way.

- This issue is about trying to implement the current reports that Manuscripts produces using these new functions. I am limiting this issue to only calculate the Metrics defined under Github Issues, PRs and Git

[2018-06-06 22:44] jgbarah commented on #66
I like the approach. I would think a bit more about the Metric class and its subclasses. For example, instead of

[code]

I would define a class "Pull_Request", which would inhering from "Metric" (or maybe from "GitHub"), internally adding the query `{"pull_request":"true"}`, because if you want pull requests, you always want that filter.

In addition, some fields that are now in the instantiation

[2018-06-06 22:47] jgbarah commented on #66
WRT to how to implement this on the current Manuscripts, I see the problem you mention of this being completely different from the current implementation. Maybe we can start with a new directory in it (manuscripts2, for example), and include in it all the stuff, until when we can compute at least the current reports...

[2018-06-07 08:52] aswanipranjal commented on #66
The idea of having a `PullRequests` and `Issues` class sounds good. But I fear that we might get into the same design pattern as the previous ones. Although, we can differentiate by adding some functions specific to the class, in the future.
I'll implement the `PullRequests` and `Issues` classes.

+1. I'll replace `set_range` function with these.

I was able to compute the metrics from Git and Git

[2018-06-07 21:29] #60 closed

[2018-06-17 05:55] aswanipranjal opened #68 "Test issue"
This is a test issue created for the purpose of testing the data that is collected by grimoire-elk when a raw index is created and the format of that data.

I am using `p2o.py` on manuscripts and creating raw and enriched indices and looking at the data generated so that appropriate code can be added to grimoire-elk/perceval for creating some fields  in the enriched index.

[2018-06-17 05:56] aswanipranjal commented on #68
The is the first comment.

[2018-07-03 09:05] #48 closed

[2018-07-06 06:38] aswanipranjal opened #70 "Porting manuscripts to use new functions and classes added in #67"
I've tried to create more _chain-able_ functions/classes to be able to calculate the metrics. They are added as *manuscripts2* through #67.

This issue is about calculating the current metrics, that manuscripts produces, using these new functions/classes.
My approach will be to use the flow that is currently being used.

- Create classes for each of the data source
- Create sections of the report

[2018-07-06 18:29] jgbarah commented on #70
This said, try to start small. Instead of submitting a PR with all the intended functionality, select just a few metrics, and produce the corresponding CSV. That would allow us to discuss changes in the architecture with easy: you won't need to change the code for a lot of metrics if we decide to make changes to the architecture.

[2018-07-06 18:30] jgbarah commented on #66
Should we close this issue?

[2018-07-07 04:38] aswanipranjal commented on #68
I was using this issue to test the data that was to be calculated from the raw index and added to the enriched index. This issue can be closed now.

[2018-07-07 04:38] #68 closed

[2018-07-07 04:40] #66 closed

[2018-07-10 21:43] jgbarah opened #72 "New names for files, classes in manuscripts2"
Even when the structure in manuscripts2 starts to take shape, we need to discuss better names for the structures there. For example, "new_functions" is not a good name ;-)

Could we discuss here how to name files, classes and methods?

[2018-07-18 10:51] jgbarah commented on #72
Since I see no movement here, let me start with a proposal.

Files:

* `new_functions.py` to `elasticsearch.py` (since it deals with queries to ES).
* `derived_classes.py`, for now, could be in `elasticsearch.py` to, since it is very little code, and not really different.
* `test_new_functions.py` could move to `tests/test_elasticsearch.py` (that is, in the tests directory of the repo), so that we

[2018-07-18 10:52] jgbarah commented on #62
Can we close this, @aswanipranjal?

[2018-07-18 10:53] jgbarah commented on #59
Can we close this issue now?

[2018-07-18 10:54] jgbarah commented on #56
Maybe it is already the moment for pushing this forward?

[2018-07-18 11:04] aswanipranjal commented on #72
I am sorry, I couldn't think of any appropriate names. Thanks for this proposal!  These are totally fine with me. I'll make the changes and create a PR.

[2018-07-18 11:05] aswanipranjal commented on #62
Yeah, it's about time.

[2018-07-18 11:05] #62 closed

[2018-07-18 18:03] aswanipranjal commented on #59
Yes, thank you for the reminder!

[2018-07-19 08:53] #72 closed

[2018-07-24 05:14] aswanipranjal opened #81 "Generation and indexing of enriched data to test the reports and other functions"
The reports generated (and other files/functions) need to be tested using data fetched from elasticsearch.
Right now, the functions in manuscripts2 are tested on `git` data from `grimoirelab-perceval` repository which is fetched at the time of testing. This is causing the tests to fail after some time when more commits are added in `grimoirelab-perceval`. [Example](https://github.com/chaoss/grimoi

[2018-07-25 06:12] aswanipranjal commented on #81
check pull #82

[2018-07-28 13:55] aswanipranjal commented on #81
This is closed by #84

[2018-07-28 13:55] #81 closed

[2018-08-06 09:55] alpgarcia opened #98 "Parsing only needed params from sirmordred config file"
Manuscripts parses mordred config files including params it won't use. It should parse only those params needed to run manuscripts, and not everything else. Right now, if a new param appears in Mordred, manuscripts will break as it happened in #96.

To improve and ease code maintainability, additions or changes in mordred configs should not break manuscripts if they does not affect to the params u

[2018-08-07 14:55] aswanipranjal commented on #70
By adding PRs #88  to  #104 (and all the PRs in between), the CSV files can now be generated using manuscripts2. I am closing this issue and creating a new one where the PDF generation can be discussed.

[2018-08-07 14:55] #70 closed

[2018-08-07 15:43] aswanipranjal opened #105 "[Manuscripts2/report] Create a PDF reports using the csv/png files generated."
This issue is about discussing how the PDF should be generated from the files generated containing the metric information.

I have a MacOS system and I often face problems in generating the report using LaTex. I am looking into the problems and I'll create the first draft using the existing infrastructure.

Apart from that, I am also looking at:
- [ReportLab](https://bitbucket.org/rptlab/reportlab

[2018-08-10 10:13] aswanipranjal opened #111 "[Metrics] How should the GMD metrics be added and a report created?"
Currently, using manuscripts2, we can generate a report for the CHAOSS metrics.

We need to also look into generating/adding to the same report the GMD/D&I/ Risk/Value metrics. This issue for discussing how these metrics should be added to the report.

Possible options:
- We follow the structure that is being followed currently. When we want to create the report, we pass on the a flag such as `--g

[2018-08-10 10:47] jgbarah commented on #111
Yess. The idea is that we have a flag for each kind of report we want to produce. If no flag, or '--grimoirelab`, it would produce the current (old) report. If `--gmd` it would produce the GMD report, and so on.

Later on we can work so that if several flags are included, a report with all those metrics is produced, but we don't need to start with that.

[2018-08-10 12:26] aswanipranjal commented on #111
@jgbarah  Great! I'll get started on that.

The Classes for the GMD metrics: they will be added to the metrics/<data_source>.py file right?
For example: metrics for the github_issues data source will be added to the already present `manuscripts2/metrics/github_issues.py` file?

Or do we need to create a different folder GMD?

[2018-08-10 16:09] #105 closed

[2018-08-10 16:53] jgbarah commented on #98
I  think mordred should  have  a option, such as `--report` or `--manuscripts`, to run manuscripts (via calling its API), instead of manuscripts parsing mordred config file.

[2018-08-10 16:55] jgbarah opened #112 "Option to change the copyright holder"
Now, reports are "signed" with Bitergia as copyright holder. This should be an option, so anyone running manuscripts could have a report "signed" by them, as they can already change, for example, the logo. The default copyright holder should be "CHAOSS/GrimoireLab".

[2018-09-09 10:55] aswanipranjal opened #116 "Add a --chaoss flag to generate a report using CHAOSS only metrics (the current report)"
Following #111 what we want is to add a `--chaoss` flag which will allow the user to generate a report using CHAOSS metrics only i.e the current report that is being generated.

This will be the default behaviour of Manuscripts and this will allow us to add different flags (`--gmd`, `--risk` and so on) which will be responsible for generating reports using different metrics.

[2018-09-09 10:58] aswanipranjal opened #117 "Produce reports in Markdown format"
Currently, Manuscripts only supports generating reports in PDF formats. What we want is to give the user the option to generate the same reports in Markdown as well.

Generating reports in Markdown will give us two functionalities:
- The markdown report then can be hosted on GitHub directly so it can, maybe, be added to the README.md of a project by the owners of that project.
- Markdown will allo

[2018-09-26 05:00] aswanipranjal opened #118 "Add functions to calculate the metrics for the remaining data sources"
Currently, by using Manuscripts2, we can generate a report for the `git`, `github issues` and `github prs` data sources only.

This issue is about adding the functionality to calculate the metrics using the remaining data sources:
- `its` (issue tracking systems)
- `gerrit`
- `mailing lists`
- `stackexchange`
- `jira`

The functions and classes for these data sources will follow the same pattern a

[2019-02-25 20:27] sduenas commented on #6
Not activity in more than a year. Closing it.

[2019-02-25 20:27] #6 closed

[2019-03-19 06:43] harshalmittal4 opened #124 "Error while generating git index"
Related to  #125

[2019-03-19 06:47] harshalmittal4 opened #125 "Add latest versions of dependencies to remove error"
Hey @valeriocos ,
The problem still persists when I use the command
`p2o.py --enrich --index perceval_git_raw --index-enrich perceval_git -e http://localhost:9200 --no_inc --debug --db-host 127.0.0.1 --db-sortinghat sortinghatDB --db-user root git https://github.com/chaoss/grimoirelab-perceval`
to generate index for `git ` date source. I was doing this for generating the report.
It is using grimoi

[2019-03-19 06:56] #124 closed

[2019-03-19 06:59] harshalmittal4 commented on #112
Hey @jgbarah, I would like to take this up. Let me know of any other modifications to be done.

[2019-03-19 07:37] harshalmittal4 opened #126 "Import error : Cannot import name timezone"
While running the command
`manuscripts2 -n Perceval_Project -d PERCEVAL-REPORTS -s 2016-05-01 -e 2018-04-10 -i quarter -u http://localhost:9200/ --data-sources git github_issues github_prs \
--indices perceval_git perceval_github_issues perceval_github_prs -l logo.png`
to generate the report, the error arises.

[2019-03-19 08:17] valeriocos commented on #125
Please @harshalmittal4 try with the latest version of ELK or the code in the master branch.
Thanks!

[2019-03-19 08:21] valeriocos commented on #126
Thank you for reporting this issue @harshalmittal4 . Could you provide the commands to generate the following indeces: `perceval_git perceval_github_issues perceval_github_prs`? I'd like to reproduce the error in my machine with the same steps you did.

Thank you!

[2019-03-19 08:34] harshalmittal4 commented on #126
Yes, I used the commands given in the readme here : [https://github.com/chaoss/grimoirelab-manuscripts/tree/master/manuscripts2](https://github.com/chaoss/grimoirelab-manuscripts/tree/master/manuscripts2)

[2019-03-19 11:26] harshalmittal4 commented on #125
Hi, it is running fine with the latest version of grimoire-elk, could we update it in setup.py?
Sorry to bother you for this.

[2019-03-19 11:34] jgbarah commented on #112
Thank you very much! For now, this would be it. If you want, once this pr is ready, we could talk about other stuff...

[2019-03-19 11:45] valeriocos commented on #125
sure, feel free to open a PR. Thanks

[2019-03-19 13:58] harshalmittal4 commented on #112
Cool, on it.

[2019-03-21 10:28] harshalmittal4 commented on #126
Hi, please let me know if I'm missing something!

[2019-03-21 12:13] harshalmittal4 commented on #125
Hey @valeriocos, I was wondering how to include the latest version (pre-release) in setup.py in the PR.
(I managed to run it by manually cloning grimoire-elk and perceval-finos repositories and installing them)

Shall it be included in requirements.txt. What would be helpful?

[2019-03-21 14:48] harshalmittal4 commented on #125
Shall I add it to requirements.txt?

[2019-03-21 14:56] valeriocos commented on #125
Sure, you can do something like this: https://github.com/chaoss/grimoirelab-sirmordred/blob/master/requirements.txt

For the setup.py, it won't work since there isn't a new package in pypi (https://pypi.org/project/grimoire-elk/#history). However, I would ask @jgbarah that can give a better answer about it.

[2019-03-21 15:50] harshalmittal4 commented on #125
Thanks @valeriocos for clarifying, I was bit unsure regarding it couldn't be done with setup.py.
@jgbarah kindly see.

[2019-03-28 17:12] GeorgLink opened #128 "Require DCO sign-off for new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off in this repository.

The [CHAOSS Project Charter section 8.2.1](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires that all contributions are signed-off. The CHAOSS project has been piloting the use of DCO sign-offs. Once contri

[2019-03-31 14:45] harshalmittal4 commented on #125
@valeriocos @jgbarah ping.

[2019-03-31 16:08] valeriocos commented on #125
Hi @harshalmittal4 , if I'm not wrong a new community release should be out. @jgbarah can confirm

[2019-03-31 16:51] harshalmittal4 commented on #125
Yes, you're right @valeriocos. I just checked it by installing again in a new virtualenv, so seems like there is no need for this now :sweat_smile:

[2019-03-31 20:08] valeriocos commented on #125
you're welcome @harshalmittal4 :)

[2019-03-31 20:08] valeriocos commented on #125
feel free to close this issue

[2019-03-31 20:17] #125 closed

[2019-04-02 09:34] valeriocos commented on #128
done @GeorgLink

[2019-04-02 09:34] #128 closed

[2019-04-02 13:25] GeorgLink commented on #128
Thanks @valeriocos

[2019-09-09 13:47] GeorgLink opened #131 "Graphs are off-center and extend beyond the right margin"
The reports I have seen appear to have an issue with figures.

The figures are off-center to the right and extend past the right margin.

Here is where I reported the issue initially:
https://gitlab.com/Bitergia/c/OpenDayLight/support/issues/56

[2019-12-09 13:43] NeolithEra opened #136 "Conflicts between manuscripts and redis"
Hi, users are unable to run **_manuscripts_** due to dependency conflict with _**redis**_ package. As shown in the following full dependency graph of **_manuscripts_**, **_kingarthur_** requires _**redis ==3.0.0**_，while **_grimoire-elk_** requires _**redis <=2.10.6,>=2.10.0**_.

According to pip’s _“first found wins”_ installation strategy, _**redis 2.10.6**_ is the actually installed version. Ho

[2019-12-09 13:44] NeolithEra commented on #136
@acs
### Suggested Solution

Ask your upstream project **_grimoire-elk_** to loose the version range of **_redis_**.

Could I submit a PR to solve this issue？

[2019-12-09 14:23] valeriocos commented on #136
grimoire-elk 0.64.0 should already solve this issue (https://github.com/chaoss/grimoirelab-elk/commit/fb1f18b9a8ac3e52ee01083522235dffbafdd99a)

[2019-12-13 10:28] NeolithEra commented on #136
@valeriocos Thank you very much for feedback. I think this issue could be seen fixed.

[2019-12-13 10:28] #136 closed

[2019-12-13 11:17] valeriocos commented on #136
you're welcome @NeolithEra